@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');


:root {
    --color-text-primary: #403f3d;
    --color-text-inverse: #e1d4c9;
    --color-text-accent: #b0907a;

    --color-background: #e1d4c9;
    --color-container: #665f55;

    --color-border: #c1b6ad;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
	margin: 0;

	font-family: "Inter", sans-serif;
	color: var(--color-text-primary);
    background-color: var(--color-background);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
}

.header {
    padding: 20px 0;
}

.header .container {
    display: flex;
    align-items: center;
	justify-content: space-between;
}

.navigation__list {
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.logo {
    display: block;
    flex-shrink: 0;
}

.logo__image {
    display: block;
    width: 100px;
    height: auto;
}

.navigation__link {
	color: inherit;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navigation__link:hover {
    color: var(--color-text-accent);
}

.theme-switch {
	display: flex;
    align-items: center;
    padding: 2px;
    background-color: transparent;
    cursor: pointer;
}


.theme-switch:hover,
.burger:hover {
    opacity: 0.7;
}

.burger {
    display: none;
}


.menu-link {
    display: flex;
    align-items: center;
    gap: 8px;

    color: inherit;
    text-decoration: none;

    font-size: 16px;
    font-weight: 600;
}

.menu-link__icon {
    display: block;

    width: 20px;
    height: 20px;
}

.menu-link:hover .menu-link__text {
    text-decoration: underline;
	text-underline-offset: 4px;
}

@media (max-width: 768px) {
	.container {
        padding: 0 16px;
    }

    .navigation {
        display: none;
    }

	.menu-link {
        display: none;
    }

    .burger {
        display: block;
    }

	.hero {
        min-height: 600px;
        border-radius: 40px;
    }

    .hero__container {
        min-height: 600px;
    }

    .hero__content {
        max-width: 100%;
    }

    .hero__title {
        font-size: 42px;
    }
}

.hero {
    min-height: 644px;

    border-radius: 40px;

    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)
        ),
        url("../images/img-hero.jpg");

    background-size: cover;
    background-position: center;
}

.hero__container {
    min-height: 644px;

    display: flex;
    align-items: center;
}

.hero__content {
    max-width: 530px;

    color: #e1d4c9;
}

.hero__title {
    margin: 0 0 40px;

    font-size: 60px;
    line-height: 1.05;
    font-weight: 600;
}

.hero__title span {
    color: var(--color-text-accent);
    font-style: italic;
}

.hero__description {
    margin: 0 0 40px;

    color: #e1d4c9;

    font-size: 16px;
    line-height: 1.5;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-width: 120px;
    padding: 20px 30px;

    border: none;
    border-radius: 30px;

    font-family: inherit;
    font-size: 16px;
    font-weight: 600;

    text-decoration: none;

    cursor: pointer;

    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.button--primary {
    color: var(--color-text-primary);
    background-color: var(--color-background);
}

.button--primary:hover {
    background-color: #ffffff;
}
